@use './common.scss' as *;

/* 공통 */
body {
    h2 {@include main_title;}
    .title_sub {@include main_sub_title;}
    .title_desc, h3, p {@include main_p;}
}

/* 개별 */
body {
    /* > * {min-width:320px;} */
    #wrap {
        position:relative;
        header {
            position:fixed; z-index:999;
            width:100%; height:60px; padding:0 40px;
            background:transparent;
            border:1.5px solid $color-black; border-left:0; border-right:0;
            .fixed {
                height:100%;
                @include flex-row; justify-content:space-between; align-items:center;
                .header_left {
                    @include flex-row; gap:40px;
                    a:hover {font-weight:$font-weight-sbold;}
                }
                .header_right {@include flex-row; gap:20px;}
            }
            #logo {position:fixed; left:50%; transform:translateX(-50%); top:14px;}
        }
        #nav_page {
            position:absolute; z-index:998; top:0; left:0;
            transition:transform 0.4s ease; transform:translateY(-440px);
            width:100%; height:420px; padding:120px 20px 40px;
            @include flex-row; gap:40px; justify-content:center;
            background-color:$color-white; box-shadow:0 4px 20px rgba(0,0,0,0.2);
            .nav_detail {
                width:120px; height:240px;
                @include flex-col; gap:16px; align-items:center; justify-content:start;
                .title {font-weight:$font-weight-med;}
                .contents_wrap {
                    @include flex-col; gap:16px; align-items:center; justify-content:start;
                    img {
                        width:36px; height:36px;
                        margin-bottom:8px;
                    }
                    li {
                        font-size:$font-size-p-14;
                        a {display:block;}
                    }
                }
            }
            .more {
                width:120px; height:40px;
                padding-left:20px;
                @include flex-row; align-items:center;
            }
            .more:hover {
                span {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                img {width:26px; height:26px;}
            }
        }
        main {
            .row1 {width:100%; height:100vh;
                #bnr_wrap {
                    width:100%; height:100vh;
                    position:relative;
                    .swiper-wrapper {
                        .swiper-slide {
                            position:relative; width:100%; height:100%;
                            background:url(../images/banner_001.png) no-repeat center / cover;
                            .title {
                                position:absolute; top:40%; left:12%; transform:tranlateY(-40%);
                                @include flex-col; gap:36px;
                                h2 {@include main_title; font-family:'Paperozi'}
                                p {@include main_sub_title}
                                a {
                                    width:150px; height:60px; padding-left:24px;
                                    @include flex-row; gap:8px; align-items:center;
                                    border:1px solid $color-black;
                                }
                                a:hover {
                                    border:2px solid $color-black;
                                    span {font-weight:$font-weight-med;}
                                    /* background-color:$color-black;
                                    span {color:$color-white;}
                                    img {filter:invert(100%);} */
                                }
                            }
                        }
                    }
                    .bnr_page_wrap { z-index:999;
                        width:400px; height:16px;
                        position:absolute; top:70%; left:12%;
                        @include flex-row; gap:16px;
                        .swiper-pagination-progressbar {
                            height:2px;
                            color:$color-grey-border-light;
                            .swiper-pagination-progressbar-fill {background-color:$color-black;}
                        }
                        .swiper-pagination-fraction {
                            display:none;
                            .swiper-pagination-current {font-weight:$font-weight-med;}
                        }
                    }
                    .swiper-button-prev {left:2%;z-index:999;
                        color:$color-black;
                        width:32px; height:32px;
                        svg {width:100%; height:100%;}
                    }
                    .swiper-button-prev:hover {color:$color-black;}
                    .swiper-button-next {right:2%; z-index:999;
                        color:$color-black;
                        width:32px; height:32px;
                        svg {width:100%; height:100%;}
                    }
                    .swiper-button-next:hover {color:$color-white;}
                }
            }
            .row2 {
                width:100%; height:610px; margin-bottom:120px;
                @include flex-row; @include border-top-bottom;
                .title {
                    width:20%; height:100%; padding:0 8px; text-align:center;
                    @include flex-col; gap:16px; border-right:$border;
                    justify-content:center; align-items:center;
                    .title_desc {text-align:center;}
                }
                .contents {
                    width:80%;
                    .sort_wrap {
                        width:100%; height:60px;
                        @include flex-row; justify-content:space-between; align-items:center;
                        border-bottom:$border;
                        .sort {
                            @include flex-row; justify-content:center; align-items:center;
                            li {
                                width:130px; height:57px; transform:translateY(1px);
                                text-align:center;
                                a {
                                    display:block; width:100%; height:100%; line-height:60px;
                                }
                            }
                            li:hover {font-weight:$font-weight-med;
                                a {
                                    background-color:$color-point-bg;
                                }
                            }
                        }
                        .more {
                            @include flex-row; align-items:center;
                        }
                        .more:hover {
                            span{font-weight:$font-weight-med;}
                        }
                    }
                    #best_prod_wrap {
                        width:100%; height:auto;
                        .swiper-wrapper {
                            .swiper-slide {
                                position:relative; //fav 아이콘 위치 맞춤용
                                border-right:$border;
                                img {width:100%; height:378px; object-fit:cover;}
                                .desc {
                                    width:100%; height:auto;
                                    padding:32px; text-align:center;
                                    h3 {margin-bottom:16px;}
                                    .price {
                                        margin-bottom:8px;
                                        .dc_rate {font-weight:$font-weight-med; margin-right:8px;}
                                        .dc_price {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                                    }
                                    .review {font-size:$font-size-p-12;
                                        img{  
                                        width:16px; height:16px; margin-right:4px;
                                        transform:translateY(4px);
                                        }
                                    }
                                }
                                .fav {
                                    position:absolute; top:345px; right:10px; z-index:900;
                                    img {width:24px; height:24px;}
                                }
                            }
                        }
                    }
                }
            }
            .row3 {
                height:500px; padding-left:120px; margin-bottom:120px;
                background-color:#e5e5e5;
                background:url(../images/brand_banner_001.png) no-repeat center/contain;
                .title {
                    height:100%; @include flex-col; justify-content:center;
                    h2 {margin-bottom:40px;}
                    .title_sub {margin-bottom:16px;}
                }
            }
            .row4 {
                height:auto; margin-bottom:120px;
                @include border-top-bottom;
                .title_wrap {
                    width:100%; height:280px; padding:0 80px;
                    border-bottom:$border;
                    .title {
                        width:100%; height:100%; padding-left:80px;
                        @include flex-col; padding-top:140px; gap:16px;
                        border-left:$border;
                    }
                }
                .contents {
                    @include flex-row; margin:0 80px; align-items:flex-start;
                    border-left:$border;
                    .sort {
                        width:20%; height:100%;
                        @include flex-col;text-align:center; justify-content:flex-start;
                        li {
                            width:100%; height:70px; line-height:70px;
                            border-bottom:$border;
                            a {width:99.8%; height:100%; display:block;}
                        }
                        li:hover {
                            a {
                                font-weight:$font-weight-med;
                                background-color:$color-point-bg;
                            }
                        }
                    }
                    #featured_prod_wrap {
                        width:80%; height:auto; border-left:$border; border-right:$border;
                        .swiper-wrapper {
                            .swiper-slide {
                                position:relative;
                                border-right:$border;
                                img {width:100%; height:100%; object-fit:cover;}
                                .desc {
                                    height:146px; padding:32px;
                                    @include flex-col; gap:16px; text-align:center;
                                    .price {
                                        .dc_rate {font-weight:$font-weight-med; margin-right:8px;}
                                        .dc_price {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                                    }
                                }
                                .fav {
                                    position:absolute; right:0.8rem; bottom:160px; z-index:900;
                                    img {width:100%; height:100%;}
                                    width:24px; height:24px;
                                }
                            }
                        }
                    }
                }
            }
            .row5 {
                position:relative; z-index:800;
                width:100%; height:940px;
                padding:60px;
                background-image:url(../images/project_model_001.png), url(../images/bg_opacity.jpg);
                background-size:contain, cover;
                background-position:bottom, left;
                background-repeat:no-repeat, no-repeat;
                .title {
                    position:absolute; right:13%; transform:translateX(-13%);
                    text-align:center;
                    h2 {margin-bottom:40px;}
                    .title_sub {margin-bottom:8px;}
                    .title_desc {margin-bottom:60px;}
                }
                .contents_wrap {
                    width:100%; padding-right:100px;
                    #project_prod_wrap {
                        border:$border; width:50%; position:absolute;
                        top:60%; right:5%; transform:translate(-5%,-60%);
                        .swiper-wrapper {width:900px; 
                            .swiper-slide {
                                width:33%; height:100%;
                                position:relative;
                                /* @include flex-col; gap:0; */
                                border-right:$border;
                                img {width:100%; height:300px;}
                                .desc {
                                    background-color:$color-white;
                                    width:100%; height:100%; padding:28px;
                                    @include flex-col; gap:16px; text-align:center;
                                    .price {
                                        .dc_rate {font-weight:$font-weight-med; margin-right:8px;}
                                        .dc_price {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                                    }
                                    .review {font-size:$font-size-p-12;
                                        img {
                                        width:16px; height:16px; margin-right:4px;
                                        transform:translateY(4px);
                                        }
                                    }
                                }
                                .fav {
                                    position:absolute; right:0.5rem; bottom:11.5rem; z-index:900;
                                    img{width:24px; height:24px}
                                    width:24px; height:24px;
                                }
                            }
                        }
                    }
                }
            }
            .row6 {
                height:680px; margin-bottom:120px;
                @include border-top-bottom;
                .title_wrap {
                    border-bottom:$border;
                    height:278px;
                    .title_container {
                        padding:0 80px; border-left:$border;
                        .title {
                            @include flex-col; padding-top:140px; gap:16px;
                        }
                    }
                }
                .contents {height:400px; padding:0 80px;
                    @include flex-row;
                    .left {
                        width:450px; height:100%;
                        @include flex-col; text-align:center;
                        border-right:$border; border-left:$border;
                        .txt1 {
                            padding:94px 0;
                            border-bottom:$border;
                            h3 {font-size:$font-size-h-20; font-weight:$font-weight-med;}
                            p {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                        }
                        .txt2 {
                            padding:35px 0;
                            @include flex-col; gap:4px;
                            em, strong {font-weight:$font-weight-med; margin-right:4px;}
                            strong {font-size:$font-size-p-16;}
                            .price {margin-right:4px;}
                        }
                    }
                    .prod_img {
                        width:956px; height:100%;
                        border-right:$border;
                        img {width:100%; height:100%;}
                    }
                    .right {
                        width:354px; height:100%; position:relative;
                        @include flex-col; text-align:center; justify-content:center; gap:80px;
                        border-right:$border;
                        em {font-size:$font-size-p-16; font-weight:$font-weight-med;}
                        .more {
                            width:60px; height:21px; position:absolute; right:40px; bottom:120px;
                            @include flex-row; align-items:center;
                            span {width:100%; height:100%; transform:translateY(2px);}
                            img {width:24px; height:24px;}
                        }
                        .more:hover {font-weight:$font-weight-med;}
                        
                    }
                }
            }
            .row7 {
                height:1215px;
                .title {
                    padding:20px 0;
                    @include flex-col; align-items:center;
                    h2 {margin-bottom:16px;}
                    .title_sub {margin-bottom:4px;} 
                    border-bottom:$border;
                }
                .step {
                    height:540px; padding:32px;
                    @include flex-col; gap:40px; text-align:center;
                    .step_wrap {
                        @include flex-row; gap:60px; justify-content:center;
                        li {
                            width:300px; height:380px;
                            .num {
                                text-align:left;
                                font-size:$font-size-h-20; font-weight:$font-weight-med;
                                color:$color-point;
                            }
                            img {width:280px; height:280px; border-radius:100%;}
                            .pack_sub_title {
                                padding:16px 0 8px;
                                font-size:$font-size-p-16; font-weight:$font-weight-med;
                            }
                        }
                    }
                }
                .recommended {
                    height:375px; padding:0 80px;
                    @include flex-row;
                    @include border-top-bottom;
                    .rec_title {
                        position:relative;
                        background-color:$color-bg;
                        width:260px; height:100%;
                        @include flex-col; text-align:center; justify-content:center; gap:4px;
                        border-left:$border; border-right:$border;
                        h4 {font-weight:$font-weight-med;}
                        .more {
                            position:absolute; right:16px; bottom:16px;
                            @include flex-row; align-items:center;
                            font-size:$font-size-p-12;
                            img {width:16px; height:16px; transform:translateY(1px);}
                        }
                        .more:hover {font-weight:$font-weight-med;}
                    }
                    .pack_wrap {
                        @include flex-row;
                        .pack {
                            position:relative;
                            border-right:$border;
                            a {
                                img {width:250px; height:245px;}
                                .desc {
                                    width:250px; height:126px;
                                    padding:16px; text-align:left;
                                    h4 {font-size:$font-size-p-14;
                                        margin-bottom:2px;
                                    }
                                    p {font-size:$font-size-p-12;}
                                    .price {
                                        margin:4px 0;
                                        .dc_rate {font-size:$font-size-p-12; font-weight:$font-weight-med;}
                                        .dc_price {font-size:$font-size-p-14; font-weight:$font-weight-med;margin:4px 0;}
                                        .day {font-size:$font-size-p-12;}
                                    }
                                    .review {font-size:$font-size-p-10;
                                        img{
                                        width:18px; height:18px; margin-right:4px;
                                        transform:translateY(6px);
                                        }
                                    }
                                }
                            }
                            .shop {
                                position:absolute; top:340px; right:15px; z-index:900;
                                img {width:18px; height:20px;}
                            }
                        }
                    }
                }
            }
            .row8 {
                height:780px; margin-bottom:120px;
                .title {
                    height:280px; padding-left:160px;
                    padding-top:80px;
                    h2 {margin-bottom:16px;}
                    .title_sub {margin-bottom:8px;}
                }
                .brand_list {
                    height:100px;
                    @include flex-row; align-items:center; justify-content:center;
                    @include border-top-bottom;
                    li {
                        width:258px; height:100%;
                        a {
                            padding-top:32px;
                            text-align:center;
                            display:block;
                        }
                    }
                    li:nth-child(3), li:nth-child(4), li:nth-child(5) {
                        a {
                            padding-top:40px;
                            text-align:center;
                            display:block;
                        }
                    }
                    li:hover {background-color:$color-point-bg;;}
                }
                .brand_detail {
                    height:400px;
                    @include flex-row; align-items:center;
                    border-bottom:$border;
                    .prev_btn {
                        width:185px; height:100%;
                        img {width:24px; height:24px;}
                    }
                    .brand_desc_wrap {
                        width:965px; height:100%;
                        @include flex-row; align-items:center;
                        border-left:$border; border-right:$border;
                        img {width:500px; height:100%;}
                        .brand_desc {
                            width:465px; height:100%;
                            @include flex-col; gap:30px; text-align:center; padding-top:135px;
                            h4 {
                                img {width:150px; height:16px;}
                            }
                        }
                    }
                    .prod_list {
                        width:595px; height:100%; padding:32px 32px;
                        @include flex-col; justify-content:space-between;
                        border-right:$border;
                        a {
                            @include flex-row; gap:16px;
                            img {width:150px; height:150px;}
                            .prod_desc {
                                .prod_name {margin-bottom:4px;}
                                .price {
                                    .dc_rate, .dc_price {font-weight:$font-weight-med;}
                                    .dc_rate {font-size:$font-size-p-12;}
                                    .dc_price {font-size:$font-size-p-14;}
                                }
                            }
                        }
                    }
                    .next_btn {
                        width:185px; height:100%;
                        img {width:24px; height:24px;}
                    }
                }
            }
        }
        footer {
            width:100%; height:218px;
            @include flex-row;
            @include border-top-bottom;
            .left {
                width:1336px; height:218px;
                @include flex-col;
                .menu_wrap {
                    width:100%; height:60px; padding-left:80px;
                    @include flex-row; gap:20px; text-align:center;
                    border-bottom:$border;
                    li {
                        width:150px; height:100%;
                        a {width:60px; line-height:60px;}
                    }
                }
                .txt {
                    width:100%; height:158px; padding:20px 120px;
                    @include flex-col; gap:8px;
                    p {font-size:$font-size-p-12; font-weight:$font-weight-med; margin-bottom:16px;}
                    .row1, .row2, .row3 {@include flex-row; gap:16px;}
                    span {font-size:$font-size-p-12;}
                    address {font-size:$font-size-p-12; margin-left:-12px;}
                    a:hover {text-decoration:underline;}
                }
            }
            .right {
                width:584px; height:100%; padding-left:20px;
                @include flex-col; gap:8px;
                border-left:$border;
                .menu {width:150px; height:60px; line-height:60px;}
                .phone_num {
                    width:100%; height:80px;
                    font-size:$font-size-h-32; font-weight:$font-weight-sbold;
                }
                .s_desc {font-size:$font-size-p-12;}
            }
        }
    }
}