@use './common.scss' as*;

body {width:1920px; height:100vh;
    #wrap {width:100%; height:100%; 
        header {
            position:fixed; z-index:999;
            width:100%; height:60px; padding:0 40px;
            border:1.5px solid $color-black; border-left:0; border-right:0;
            .fixed {
                height:100%;
                @include flex-row; justify-content:space-between; align-items:center;
                .header_left {@include flex-row; gap:40px;}
                .header_right {@include flex-row; gap:20px;}
            }
            #logo {position:fixed; left:50%; transform:translateX(-50%); top:14px;}
        }
    }
    main {
        .row1 {
            position:relative; width:100%; height:100vh;
            background-image:url(../images/banner_001.png);
            .title {
                position:absolute; top:40%; transform:tranlateY(-40%);
                @include flex-col; gap:36px;
                padding:0 215px;
                h2 {@include main_title;}
                p {@include main_sub_title}
                a {
                    width:150px; height:60px; padding-left:16px;
                    @include flex-row; gap:8px; align-items:center;
                    border:1px solid $color-black;
                }
            }
        }
        .row2 {
            @include flex-row;
            .title {}
            .contents {
                .sort_wrap {
                    width:100%; height:60px;
                    @include flex-row;
                    .sort {
                        @include flex-row;
                        li {width:130px; height:100%; background:yellow;
                            a {width:130px; height:60px; background:pink;}
                        }
                    }
                }
            }
        }
    }
}