@charset "UTF-8";
body {
  min-width: 320px;
}

/* 공통 */
body h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Paprika", sans-serif;
}
body .title_sub {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}
body .title_desc, body h3, body p {
  font-size: 0.875rem;
  line-height: 150%;
}

/* 개별 */
body {
  /* > * {min-width:320px;} */
}
body #wrap {
  position: relative;
}
body #wrap header {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  background: transparent;
  border: 1.5px solid #222;
  border-left: 0;
  border-right: 0;
}
body #wrap header .fixed {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
body #wrap header .fixed .header_left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
}
body #wrap header .fixed .header_left a:hover {
  font-weight: 700;
}
body #wrap header .fixed .header_right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}
body #wrap header #logo {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 14px;
}
body #wrap #nav_page {
  position: absolute;
  z-index: 998;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
  transform: translateY(-440px);
  width: 100%;
  height: 420px;
  padding: 120px 20px 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
body #wrap #nav_page .nav_detail {
  width: 120px;
  height: 240px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  align-items: center;
  justify-content: start;
}
body #wrap #nav_page .nav_detail .title {
  font-weight: 500;
}
body #wrap #nav_page .nav_detail .contents_wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  align-items: center;
  justify-content: start;
}
body #wrap #nav_page .nav_detail .contents_wrap img {
  width: 36px;
  height: 36px;
  margin-bottom: 8px;
}
body #wrap #nav_page .nav_detail .contents_wrap li {
  font-size: 0.875rem;
}
body #wrap #nav_page .nav_detail .contents_wrap li a {
  display: block;
}
body #wrap #nav_page .more {
  width: 120px;
  height: 40px;
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
}
body #wrap #nav_page .more:hover span {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap #nav_page .more:hover img {
  width: 26px;
  height: 26px;
}
body #wrap main .row1 {
  width: 100%;
  height: 100vh;
}
body #wrap main .row1 #bnr_wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/banner_001.png) no-repeat center/cover;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title {
  position: absolute;
  top: 40%;
  left: 12%;
  transform: tranlateY(-40%);
  display: flex;
  flex-flow: column nowrap;
  gap: 36px;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Paprika", sans-serif;
  font-family: "Paperozi";
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a {
  width: 150px;
  height: 60px;
  padding-left: 24px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  align-items: center;
  border: 1px solid #222;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a:hover {
  border: 2px solid #222;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a:hover span {
  font-weight: 500;
}
body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a:hover {
  /* background-color:$color-black;
  span {color:$color-white;}
  img {filter:invert(100%);} */
}
body #wrap main .row1 #bnr_wrap .bnr_page_wrap {
  z-index: 999;
  width: 400px;
  height: 16px;
  position: absolute;
  top: 70%;
  left: 12%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}
body #wrap main .row1 #bnr_wrap .bnr_page_wrap .swiper-pagination-progressbar {
  height: 2px;
  color: #d8d8d8;
}
body #wrap main .row1 #bnr_wrap .bnr_page_wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #222;
}
body #wrap main .row1 #bnr_wrap .bnr_page_wrap .swiper-pagination-fraction {
  display: none;
}
body #wrap main .row1 #bnr_wrap .bnr_page_wrap .swiper-pagination-fraction .swiper-pagination-current {
  font-weight: 500;
}
body #wrap main .row1 #bnr_wrap .swiper-button-prev {
  left: 2%;
  z-index: 999;
  color: #222;
  width: 32px;
  height: 32px;
}
body #wrap main .row1 #bnr_wrap .swiper-button-prev svg {
  width: 100%;
  height: 100%;
}
body #wrap main .row1 #bnr_wrap .swiper-button-prev:hover {
  color: #222;
}
body #wrap main .row1 #bnr_wrap .swiper-button-next {
  right: 2%;
  z-index: 999;
  color: #222;
  width: 32px;
  height: 32px;
}
body #wrap main .row1 #bnr_wrap .swiper-button-next svg {
  width: 100%;
  height: 100%;
}
body #wrap main .row1 #bnr_wrap .swiper-button-next:hover {
  color: #fff;
}
body #wrap main .row2 {
  width: 100%;
  height: 610px;
  margin-bottom: 120px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap main .row2 .title {
  width: 20%;
  height: 100%;
  padding: 0 8px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  border-right: 1.5px solid #aaa;
  justify-content: center;
  align-items: center;
}
body #wrap main .row2 .title .title_desc {
  text-align: center;
}
body #wrap main .row2 .contents {
  width: 80%;
}
body #wrap main .row2 .contents .sort_wrap {
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row2 .contents .sort_wrap .sort {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
body #wrap main .row2 .contents .sort_wrap .sort li {
  width: 130px;
  height: 57px;
  transform: translateY(1px);
  text-align: center;
}
body #wrap main .row2 .contents .sort_wrap .sort li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
}
body #wrap main .row2 .contents .sort_wrap .sort li:hover {
  font-weight: 500;
}
body #wrap main .row2 .contents .sort_wrap .sort li:hover a {
  background-color: #E1EDD9;
}
body #wrap main .row2 .contents .sort_wrap .more {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
}
body #wrap main .row2 .contents .sort_wrap .more:hover span {
  font-weight: 500;
}
body #wrap main .row2 .contents #best_prod_wrap {
  width: 100%;
  height: auto;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide {
  position: relative;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 378px;
  object-fit: cover;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc {
  width: 100%;
  height: auto;
  padding: 32px;
  text-align: center;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc h3 {
  margin-bottom: 16px;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .price {
  margin-bottom: 8px;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_rate {
  font-weight: 500;
  margin-right: 8px;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_price {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .review {
  font-size: 0.75rem;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .review img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  transform: translateY(4px);
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav {
  position: absolute;
  top: 345px;
  right: 10px;
  z-index: 900;
}
body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav img {
  width: 24px;
  height: 24px;
}
body #wrap main .row3 {
  height: 500px;
  padding-left: 120px;
  margin-bottom: 120px;
  background-color: #e5e5e5;
  background: url(../images/brand_banner_001.png) no-repeat center/contain;
}
body #wrap main .row3 .title {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
body #wrap main .row3 .title h2 {
  margin-bottom: 40px;
}
body #wrap main .row3 .title .title_sub {
  margin-bottom: 16px;
}
body #wrap main .row4 {
  height: auto;
  margin-bottom: 120px;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap main .row4 .title_wrap {
  width: 100%;
  height: 280px;
  padding: 0 80px;
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row4 .title_wrap .title {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 140px;
  gap: 16px;
  border-left: 1.5px solid #aaa;
}
body #wrap main .row4 .contents {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 80px;
  align-items: flex-start;
  border-left: 1.5px solid #aaa;
}
body #wrap main .row4 .contents .sort {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: flex-start;
}
body #wrap main .row4 .contents .sort li {
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row4 .contents .sort li a {
  width: 99.8%;
  height: 100%;
  display: block;
}
body #wrap main .row4 .contents .sort li:hover a {
  font-weight: 500;
  background-color: #E1EDD9;
}
body #wrap main .row4 .contents #featured_prod_wrap {
  width: 80%;
  height: auto;
  border-left: 1.5px solid #aaa;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide {
  position: relative;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc {
  height: 146px;
  padding: 32px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  text-align: center;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_rate {
  font-weight: 500;
  margin-right: 8px;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_price {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav {
  position: absolute;
  right: 0.8rem;
  bottom: 160px;
  z-index: 900;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav img {
  width: 100%;
  height: 100%;
}
body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav {
  width: 24px;
  height: 24px;
}
body #wrap main .row5 {
  position: relative;
  z-index: 800;
  width: 100%;
  height: 940px;
  padding: 120px;
  background-image: url(../images/project_model_001.png), url(../images/bg_opacity.jpg);
  background-size: contain, cover;
  background-position: bottom, left;
  background-repeat: no-repeat, no-repeat;
}
body #wrap main .row5 .title {
  position: absolute;
  right: 13%;
  transform: translateX(-13%);
  text-align: center;
}
body #wrap main .row5 .title h2 {
  margin-bottom: 40px;
}
body #wrap main .row5 .title .title_sub {
  margin-bottom: 8px;
}
body #wrap main .row5 .title .title_desc {
  margin-bottom: 60px;
}
body #wrap main .row5 .contents_wrap {
  width: 100%;
  padding-right: 100px;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap {
  border: 1.5px solid #aaa;
  width: 50%;
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-5%, -60%);
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper {
  width: 900px;
  height: auto;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide {
  width: 33%;
  height: 100%;
  position: relative;
  /* @include flex-col; gap:0; */
  border-right: 1.5px solid #aaa;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 28px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  text-align: center;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_rate {
  font-weight: 500;
  margin-right: 8px;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_price {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc .review {
  font-size: 0.75rem;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc .review img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  transform: translateY(4px);
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav {
  position: absolute;
  right: 4%;
  bottom: 38%;
  z-index: 900;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav img {
  width: 24px;
  height: 24px;
}
body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav {
  width: 24px;
  height: 24px;
}
body #wrap main .row6 {
  height: 680px;
  margin-bottom: 120px;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap main .row6 .title_wrap {
  border-bottom: 1.5px solid #aaa;
  height: 278px;
}
body #wrap main .row6 .title_wrap .title_container {
  padding: 0 80px;
  border-left: 1.5px solid #aaa;
}
body #wrap main .row6 .title_wrap .title_container .title {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 140px;
  gap: 16px;
}
body #wrap main .row6 .contents {
  height: 400px;
  padding: 0 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
body #wrap main .row6 .contents .left {
  width: 450px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  border-right: 1.5px solid #aaa;
  border-left: 1.5px solid #aaa;
}
body #wrap main .row6 .contents .left .txt1 {
  padding: 94px 0;
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row6 .contents .left .txt1 h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
body #wrap main .row6 .contents .left .txt1 p {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row6 .contents .left .txt2 {
  padding: 35px 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}
body #wrap main .row6 .contents .left .txt2 em, body #wrap main .row6 .contents .left .txt2 strong {
  font-weight: 500;
  margin-right: 4px;
}
body #wrap main .row6 .contents .left .txt2 strong {
  font-size: 1rem;
}
body #wrap main .row6 .contents .left .txt2 .price {
  margin-right: 4px;
}
body #wrap main .row6 .contents .prod_img {
  width: 956px;
  height: 100%;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row6 .contents .prod_img img {
  width: 100%;
  height: 100%;
}
body #wrap main .row6 .contents .right {
  width: 354px;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  gap: 80px;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row6 .contents .right em {
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row6 .contents .right .more {
  width: 60px;
  height: 21px;
  position: absolute;
  right: 40px;
  bottom: 120px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
}
body #wrap main .row6 .contents .right .more span {
  width: 100%;
  height: 100%;
  transform: translateY(2px);
}
body #wrap main .row6 .contents .right .more img {
  width: 24px;
  height: 24px;
}
body #wrap main .row6 .contents .right .more:hover {
  font-weight: 500;
}
body #wrap main .row7 {
  height: 1215px;
}
body #wrap main .row7 .title {
  padding: 20px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body #wrap main .row7 .title h2 {
  margin-bottom: 16px;
}
body #wrap main .row7 .title .title_sub {
  margin-bottom: 4px;
}
body #wrap main .row7 .title {
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row7 .step {
  height: 540px;
  padding: 32px;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  text-align: center;
}
body #wrap main .row7 .step .step_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 60px;
  justify-content: center;
}
body #wrap main .row7 .step .step_wrap li {
  width: 300px;
  height: 380px;
}
body #wrap main .row7 .step .step_wrap li .num {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  color: #4c8628;
}
body #wrap main .row7 .step .step_wrap li img {
  width: 280px;
  height: 280px;
  border-radius: 100%;
}
body #wrap main .row7 .step .step_wrap li .pack_sub_title {
  padding: 16px 0 8px;
  font-size: 1rem;
  font-weight: 500;
}
body #wrap main .row7 .recommended {
  height: 375px;
  padding: 0 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap main .row7 .recommended .rec_title {
  position: relative;
  background-color: #F5EBE0;
  width: 260px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  gap: 4px;
  border-left: 1.5px solid #aaa;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row7 .recommended .rec_title h4 {
  font-weight: 500;
}
body #wrap main .row7 .recommended .rec_title .more {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
  font-size: 0.75rem;
}
body #wrap main .row7 .recommended .rec_title .more img {
  width: 16px;
  height: 16px;
  transform: translateY(1px);
}
body #wrap main .row7 .recommended .rec_title .more:hover {
  font-weight: 500;
}
body #wrap main .row7 .recommended .pack_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
body #wrap main .row7 .recommended .pack_wrap .pack {
  position: relative;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row7 .recommended .pack_wrap .pack a img {
  width: 250px;
  height: 245px;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc {
  width: 250px;
  height: 126px;
  padding: 16px;
  text-align: left;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc h4 {
  font-size: 0.875rem;
  margin-bottom: 2px;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc p {
  font-size: 0.75rem;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .price {
  margin: 4px 0;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .price .dc_rate {
  font-size: 0.75rem;
  font-weight: 500;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .price .dc_price {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 4px 0;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .price .day {
  font-size: 0.75rem;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .review {
  font-size: 0.625rem;
}
body #wrap main .row7 .recommended .pack_wrap .pack a .desc .review img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  transform: translateY(6px);
}
body #wrap main .row7 .recommended .pack_wrap .pack .shop {
  position: absolute;
  top: 340px;
  right: 15px;
  z-index: 900;
}
body #wrap main .row7 .recommended .pack_wrap .pack .shop img {
  width: 18px;
  height: 20px;
}
body #wrap main .row8 {
  height: 780px;
  margin-bottom: 120px;
}
body #wrap main .row8 .title {
  height: 280px;
  padding-left: 160px;
  padding-top: 80px;
}
body #wrap main .row8 .title h2 {
  margin-bottom: 16px;
}
body #wrap main .row8 .title .title_sub {
  margin-bottom: 8px;
}
body #wrap main .row8 .brand_list {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap main .row8 .brand_list li {
  width: 258px;
  height: 100%;
}
body #wrap main .row8 .brand_list li a {
  padding-top: 32px;
  text-align: center;
  display: block;
}
body #wrap main .row8 .brand_list li:nth-child(3) a, body #wrap main .row8 .brand_list li:nth-child(4) a, body #wrap main .row8 .brand_list li:nth-child(5) a {
  padding-top: 40px;
  text-align: center;
  display: block;
}
body #wrap main .row8 .brand_list li:hover {
  background-color: #E1EDD9;
}
body #wrap main .row8 .brand_detail {
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
  border-bottom: 1.5px solid #aaa;
}
body #wrap main .row8 .brand_detail .prev_btn {
  width: 185px;
  height: 100%;
}
body #wrap main .row8 .brand_detail .prev_btn img {
  width: 24px;
  height: 24px;
}
body #wrap main .row8 .brand_detail .brand_desc_wrap {
  width: 965px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-items: center;
  border-left: 1.5px solid #aaa;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row8 .brand_detail .brand_desc_wrap img {
  width: 500px;
  height: 100%;
}
body #wrap main .row8 .brand_detail .brand_desc_wrap .brand_desc {
  width: 465px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  text-align: center;
  padding-top: 135px;
}
body #wrap main .row8 .brand_detail .brand_desc_wrap .brand_desc h4 img {
  width: 150px;
  height: 16px;
}
body #wrap main .row8 .brand_detail .prod_list {
  width: 595px;
  height: 100%;
  padding: 32px 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-right: 1.5px solid #aaa;
}
body #wrap main .row8 .brand_detail .prod_list a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}
body #wrap main .row8 .brand_detail .prod_list a img {
  width: 150px;
  height: 150px;
}
body #wrap main .row8 .brand_detail .prod_list a .prod_desc .prod_name {
  margin-bottom: 4px;
}
body #wrap main .row8 .brand_detail .prod_list a .prod_desc .price .dc_rate, body #wrap main .row8 .brand_detail .prod_list a .prod_desc .price .dc_price {
  font-weight: 500;
}
body #wrap main .row8 .brand_detail .prod_list a .prod_desc .price .dc_rate {
  font-size: 0.75rem;
}
body #wrap main .row8 .brand_detail .prod_list a .prod_desc .price .dc_price {
  font-size: 0.875rem;
}
body #wrap main .row8 .brand_detail .next_btn {
  width: 185px;
  height: 100%;
}
body #wrap main .row8 .brand_detail .next_btn img {
  width: 24px;
  height: 24px;
}
body #wrap footer {
  width: 100%;
  height: 218px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: 1.5px solid #aaa;
  border-left: 0;
  border-right: 0;
}
body #wrap footer .left {
  width: 1336px;
  height: 218px;
  display: flex;
  flex-flow: column nowrap;
}
body #wrap footer .left .menu_wrap {
  width: 100%;
  height: 60px;
  padding-left: 80px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-bottom: 1.5px solid #aaa;
}
body #wrap footer .left .menu_wrap li {
  width: 150px;
  height: 100%;
}
body #wrap footer .left .menu_wrap li a {
  width: 60px;
  line-height: 60px;
}
body #wrap footer .left .txt {
  width: 100%;
  height: 158px;
  padding: 20px 120px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}
body #wrap footer .left .txt p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 16px;
}
body #wrap footer .left .txt .row1, body #wrap footer .left .txt .row2, body #wrap footer .left .txt .row3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
}
body #wrap footer .left .txt span {
  font-size: 0.75rem;
}
body #wrap footer .left .txt address {
  font-size: 0.75rem;
  margin-left: -12px;
}
body #wrap footer .left .txt a:hover {
  text-decoration: underline;
}
body #wrap footer .right {
  width: 584px;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  border-left: 1.5px solid #aaa;
}
body #wrap footer .right .menu {
  width: 150px;
  height: 60px;
  line-height: 60px;
}
body #wrap footer .right .phone_num {
  width: 100%;
  height: 80px;
  font-size: 2rem;
  font-weight: 700;
}
body #wrap footer .right .s_desc {
  font-size: 0.75rem;
}

/* responsive.scss */
/* breakpoints
desktop (1250~max) / 1920
tablet (740~1249) / 1024
mobile (320~739) / 480
*/
@media screen and (max-width: 1800px) {
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .desc {
    height: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 1640px) {
  body {
    background: yellow;
  }
  body #wrap main .row2 {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
  }
  body #wrap main .row2 .title {
    width: 100%;
    padding: 40px;
    border-bottom: 1.5px solid #aaa;
  }
  body #wrap main .row2 .contents {
    width: 100%;
  }
  body #wrap main .row2 .contents .sort_wrap {
    height: 48px;
  }
  body #wrap main .row2 .contents .sort_wrap .sort li {
    height: 100%;
    width: 120px;
  }
  body #wrap main .row2 .contents .sort_wrap .sort li a {
    line-height: 47px;
    font-size: 0.875rem;
    transform: translateY(-1px);
  }
  body #wrap main .row2 .contents .sort_wrap .more span {
    font-size: 0.875rem;
  }
  body #wrap main .row2 .contents .sort_wrap .more img {
    width: 20px;
    height: 20px;
    transform: translateY(1px);
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide img {
    height: 300px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc {
    padding: 24px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav {
    top: 268px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav img {
    width: 22px;
    height: 22px;
  }
  body #wrap main .row3 {
    width: 100%;
  }
  body #wrap main .row4 .contents .sort li a {
    font-size: 0.875rem;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav {
    bottom: 36%;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc {
    height: auto;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav {
    right: 4%;
    bottom: 40%;
  }
}
/* tablet */
@media screen and (max-width: 1249px) {
  body {
    background: pink;
  }
  body {
    /* 공통 */
  }
  body h2 {
    font-size: 1.75rem;
    font-family: "Paprika", sans-serif;
  }
  body .title_sub {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 150%;
  }
  body .title_desc, body h3, body p {
    font-size: 0.75rem;
    line-height: 150%;
  }
  /* 개별 */
  body #wrap header .fixed .header_left a:nth-child(4),
  body #wrap header .fixed .header_left a:nth-child(5) {
    display: none;
  }
  body #wrap #nav_page {
    width: 100%;
    height: auto;
    transform: translateY(-100%);
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    gap: 40px 16px;
    align-items: flex-start;
  }
  body #wrap #nav_page .nav_detail {
    width: 15%;
    height: 50%;
  }
  body #wrap #nav_page .nav_detail .contents_wrap {
    gap: 8px;
  }
  body #wrap #nav_page .nav_detail .contents_wrap img {
    width: 32px;
    height: 32px;
  }
  body #wrap #nav_page .nav_detail .contents_wrap li {
    font-size: 0.75rem;
  }
  body #wrap main .row1 {
    height: auto;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide {
    background-position: right;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title {
    left: 8%;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title h2 {
    font-size: 1.75rem;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title p {
    font-size: 1rem;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a {
    width: 117px;
    height: 48px;
    padding-left: 12px;
  }
  body #wrap main .row1 #bnr_wrap .swiper-wrapper .swiper-slide .title a span {
    font-size: 0.875rem;
  }
  body #wrap main .row1 #bnr_wrap .bnr_page_wrap {
    width: 280px;
    left: 8%;
    top: 65%;
  }
  body #wrap main .row1 #bnr_wrap .swiper-button-prev,
  body #wrap main .row1 #bnr_wrap .swiper-button-next {
    width: 24px;
    height: 24px;
  }
  body {
    /* row2. best */
  }
  body #wrap main .row2 .contents .sort_wrap .sort li:nth-child(9),
  body #wrap main .row2 .contents .sort_wrap .sort li:nth-child(10) {
    display: none;
  }
  body #wrap main .row2 .contents .sort_wrap .sort li {
    width: 100px;
    height: 100%;
  }
  body #wrap main .row2 .contents .sort_wrap .sort li a {
    line-height: 47px;
    font-size: 0.75rem;
    transform: translateY(-1px);
  }
  body #wrap main .row2 .contents .sort_wrap .more span {
    font-size: 0.75rem;
  }
  body #wrap main .row2 .contents .sort_wrap .more img {
    width: 20px;
    height: 20px;
    transform: translateY(1px);
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide img {
    height: 234px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc {
    height: 136px;
    padding: 20px 16px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_rate {
    font-size: 0.75rem;
    line-height: 150%;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_price {
    font-size: 0.875rem;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .review {
    font-size: 0.625rem;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .desc .review img {
    width: 12px;
    height: 12px;
    transform: translateY(3px);
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav {
    top: 205px;
  }
  body #wrap main .row2 .contents #best_prod_wrap .swiper-wrapper .swiper-slide .fav img {
    width: 20px;
    height: 20px;
  }
  body {
    /* row3. brand_banner */
  }
  body #wrap main .row3 {
    object-fit: contain;
    padding: 60px;
    margin-bottom: 80px;
    position: relative;
  }
  body #wrap main .row3 .title {
    justify-content: flex-start;
    position: absolute;
    top: 30%;
    left: 5%;
  }
  body #wrap main .row3 .title h2 {
    margin-bottom: 20px;
  }
  body #wrap main .row3 .title .title_desc {
    display: none;
  }
  body {
    /* row4. featured */
  }
  body #wrap main .row4 {
    height: auto;
  }
  body #wrap main .row4 .title_wrap {
    height: 180px;
    padding: 0 40px;
  }
  body #wrap main .row4 .title_wrap .title {
    padding: 0 40px;
    gap: 8px;
    justify-content: center;
  }
  body #wrap main .row4 .contents {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 40px;
    height: auto;
  }
  body #wrap main .row4 .contents .sort {
    width: 100%;
    height: 48px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
  body #wrap main .row4 .contents .sort li {
    width: 100%;
    height: 100%;
    line-height: 48px;
    font-size: 0.75rem;
    border-right: 1.5px solid #aaa;
  }
  body #wrap main .row4 .contents #featured_prod_wrap {
    width: 100%;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc {
    padding: 20px 16px;
    height: auto;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_rate {
    font-size: 0.75rem;
    line-height: 150%;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .desc .price .dc_price {
    font-size: 0.875rem;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav {
    right: 0.8rem;
    bottom: 9.8rem;
  }
  body #wrap main .row4 .contents #featured_prod_wrap .swiper-wrapper .swiper-slide .fav img {
    width: 20px;
    height: 20px;
  }
  body {
    /* ro5. project */
  }
  body #wrap main .row5 .title {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  body #wrap main .row5 .contents_wrap {
    /* right:0; top:50%; transform:translate(-50%, -50%); margin:0 auto; */
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide a img {
    height: auto;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide a .desc .price .dc_rate {
    font-size: 0.75rem;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide a .desc .price .dc_price {
    font-size: 0.875rem;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide a .desc .review {
    font-size: 0.625rem;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide a .desc .review img {
    width: 12px;
    height: 12px;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav {
    bottom: 36%;
  }
  body #wrap main .row5 .contents_wrap #project_prod_wrap .swiper-wrapper .swiper-slide .fav img {
    width: 24px;
    height: 24px;
  }
  body {
    /* #wrap main .row5 { //1640
      .contents_wrap {
        width:60%; padding-right:40px; right:40px;
        #project_prod_wrap .swiper-wrapper .swiper-slide .desc{font-size:$font-size-p-12;}
      }
    } */
  }
}
/* tablet - media query 끝 */
@media screen and (max-width: 849px) {
  body {
    background: lime;
  }
  #wrap main .row2 .contents .sort_wrap .sort li {
    width: 80px;
    height: 100%;
  }
}
/* mobile */
@media screen and (max-width: 739px) {
  #wrap main .row2 .contents #best_prod_wrap {
    background: lime;
  }
}

/*# sourceMappingURL=main.css.map */
