/* responsive.scss */
@use './common.scss' as*;

/* breakpoints
desktop (1250~max) / 1920
tablet (740~1249) / 1024
mobile (320~739) / 480
*/

/* tablet */
@media screen and (max-width: 1249px) {
  /* 공통 */
  body { background:pink;
    h2 {@include main_title_t;}
    .title_sub {@include main_sub_title_t;}
    .title_desc, h3, p {@include main_p_t;}
  }
  /* 개별 */
  body {
    #wrap {
      header {
        .header_left {
        a:nth-child(4), a:nth-child(5) {display:none;}
        }
      }
      #nav_page {
        width:100%; height:616px; transform:translateY(-616px);
        display:flex; flex-flow:row wrap; gap:60px 20px;
        .nav_detail {
          width:20%;
          .contents_wrap{
            gap:8px;
            img {width:32px; height:32px;}
            li {font-size:$font-size-p-12;}
          }
        }
        
      }
    }
  }
}



/* mobile */
@media screen and (max-width: 739px) {

}
  